@charset "UTF-8";

.html {background-color: #8888ff;}
.html.dialog {background-color: #000088;}

body {margin:0;
	  font-family:'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
/*----広域共通クラス----*/

.hide {display:none}

.hold_x {overflow-x:hidden;}
.hold_y {overflow-y:hidden;}

[class*="fc_f0"] {font-family:'Lucida Console',monospace;}
[class*="fc_f1"] {font-family:'Monotype Corsiva',fantasy;}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

.box_0 {
    
    background-color: #eeeeee;
    margin-top: 3%; margin-left: 5%; margin-right: 5%;
    padding: 5%;
    border-radius: 10px;
    
    .box_1 {
        
        background-color: #eeeeee;
        width: 100%; height: 100%;
        border-radius: 10px;
    
    }
    
}

.box_0.dialog {
    
    background-color: #666666;
    margin-top: 3%; margin-left: 5%; margin-right: 5%;
    border-radius: 10px;
    
    .box_1 {
    
        background-color: #ffffff;
        margin: auto;
        width: 80%; height: 90%;
        border-radius: 10px;
        overflow: hidden;
        
    }
    
}

.form_box {
    
    position: relative;
    width: 100%; height: 100%;
    
}

 .form_block {
    
    position: absolute;
    margin-left: -10%;
    width: 100%; height: 100%;
    z-index: 100;
    
}

.input_box_1 {
    
    h1 {color:#2222aa;}
    
}

.dialog_box_1 {
    
    h1 {color:#aaaa22;}
    
}

.button_box:after {content:""; display:block; clear:both;}

.button_box {
    
    padding-top: 1%; padding-bottom: 1%;
    background-color: #ccccff;
    
    .submit_button {
        
        position: relative; float:left;
        width: 30%;
        margin-left: 10%; margin-right: 10%;
        text-align: center;
        border-radius: 5px;
        z-index: 101;
        
    }
    
    .not_submit, .ng_button {
        
        position: relative; float:left;
        width: 29%;
        margin-left: 10%; margin-right: 10%;
        text-align: center;
        border: solid 1px #aaaaaa;
        border-radius: 5px;
        z-index: 101;
        
    }
    
}

.not_input, .input_button {
    
    
    margin-top: 5%; margin-bottom: -3%;
    margin-left: auto; margin-right: auto;
    width: 25%;
    border: solid 1px #aaaaaa;
    border-radius: 5px;
    text-align: center;
    
}

.not_input {background-color: #ff8888; color: #444444;}
.input_button {background-color: #eeeeff; color: #333333;}

.not_submit {background-color: #ff8888; color: #444444;}
.ng_button {background-color: #ffffcc; color: #666666;}